.services, .service {
    list-style-type: none;
}

.services {
    padding-left: 0;
}

.service {
    color: white;
    background-color: grey;
    padding: 0.75rem;
    
}

.service:not(:last-child) {
    margin-bottom: 1.5rem;
}
